body{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/30797.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}